* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#container {
  display: flex;
}

.listItems {
  color: blue;
  font-size: 2rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  display: grid;
  place-items: center;

  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 100px;
  margin: 10px;
}
