* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.top-row-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.delete-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  opacity: 1;
  font-size: 26px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  /* z-index allows for remove icon to be hovered outside of listitem area */
  z-index: 1;
}

#addLockerForm {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgb(90, 200, 250);
  overflow: scroll;
  gap: 10px;
  height: fit-content;
}

#lockerContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.number-input-container {
  display: flex;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.lockerLabel {
  padding-right: 10px;
}

.lockerInput {
  border: none;
  text-align: center;
  width: 60px;
  font-size: 18px;
  cursor: pointer;
  color: rgb(90, 200, 250);
  cursor: auto;
}

.lockerButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: rgb(90, 200, 250);
  border: 1px solid rgb(90, 200, 250);
  background: none;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}

.lockerButton:hover {
  background-color: rgb(90, 200, 250, 0.4);
}

#minus:active {
  transform: translateY(1px) translateX(-1px);
}

#add:active {
  transform: translateY(1px) translateX(1px);
}

.choose-room-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 10px;
  width: 400px;
}

.room-options {
  background-color: transparent;
  box-shadow: 0 0 3px 0 rgb(90, 200, 250);
  color: rgb(90, 200, 250);
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 10px 20px;
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 800;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.room-options:hover {
  border: 2px solid rgb(90, 200, 250);
}

.chosen,
.chosen:hover {
  background-color: rgb(90, 200, 250);
  color: #eeedee;
}

#roomType {
  display: none;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.checkbox-container {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

#checkBox {
  box-shadow: none;
  margin: 2px 5px 0 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.waitlist-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  width: 100px;
  border: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.waitlist-button.add {
  background-color: rgb(52, 199, 89);
}

.add:hover {
  background-color: rgb(52, 199, 89, 0.8);
}

.waitlist-button.clear {
  background-color: rgb(255, 59, 48);
}

.clear:hover {
  background-color: rgb(255, 59, 48, 0.8);
}

.waitlist-button:active {
  transform: translateY(2px);
}

#listContainer {
  display: flex;
  /* width: 100%; */
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

#listContainer ul {
  min-width: 190px;
  width: 100%;
  counter-reset: locker-count;
  list-style-type: none;
  position: relative;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: auto;
  padding-top: 20px;
  font-size: 30px;
  color: white;
  background-color: hsl(0, 0%, 13%);
  font-family: "Bebas Neue", sans-serif;
}

#listContainer ul:last-child {
  border-right: 0px;
}

.listItems:first-child {
  margin-top: 20px;
}

.listItems {
  color: rgb(0, 122, 255);
  font-size: 15px;
  background-color: transparent;
  box-shadow: 0px 0px 3px 0px rgb(90, 200, 250);
  border: 2px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 170px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.listItems::before {
  counter-increment: locker-count;
  content: counter(locker-count);
  background-color: rgb(255, 215, 0);
  color: hsl(0, 0%, 13%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  letter-spacing: -1px;
  top: -6px;
  left: -8px;
}

.listItems:hover {
  outline: 1px solid rgb(90, 200, 250);
}

.locker-text {
  color: rgb(255, 215, 0);
  font-size: 14px;
  letter-spacing: -1px;
}

.remove-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  font-size: 26px;
  top: -10px;
  right: -7px;
  width: 23px;
  height: 23px;
  background-color: rgb(209, 209, 214);
  border-radius: 50%;
  text-align: center;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  /* z-index allows for remove icon to be hovered outside of listitem area */
  z-index: 1;
}

.listItems:hover > .remove-icon {
  opacity: 1;
}

.remove-icon:hover {
  cursor: pointer;
  opacity: 1;
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.dimmed {
  background: rgb(90, 200, 250);
}

.dragged {
  background: rgb(255, 204, 0);
}

.dragged > .locker-text {
  color: white;
}

.custom-popup-menu {
  width: 150px;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease;
}

.custom-popup-menu.active {
  opacity: 1;
  pointer-events: auto;
}

.custom-popup-menu ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 10px 16px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #222;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  border-left: 4px solid transparent;
  transition: all 400ms ease;
}

.custom-popup-menu ul li a:hover {
  background: #f1faee;
  border-left: 4px solid rgb(52, 199, 89);
}

.custom-popup-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lockers-ready-container {
  /* position: relative;
  height: 230px;
  align-items: center;
  overflow-y: hidden; */

  display: flex;
  flex-direction: column;
  margin: 5px 50px 0 50px;
  gap: 5px;
}

.locker-number-items-container {
  /* position: absolute;
  height: inherit;
  padding-top: 30px;
  top: 0%; */

  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  height: 230px;
  flex-grow: 100;
  gap: 2px;
}

/* #messageBoard {
  height: auto;
} */

.animateList {
  animation: primary 3s linear infinite;
}

@keyframes primary {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

.readyMessage {
  border-radius: 3px;
  position: relative;
  color: rgb(90, 200, 250);
  font-size: 15px;
  background-color: transparent;
  box-shadow: 0px 0px 3px 0px rgb(90, 200, 250);
  padding: 5px;
  padding-right: 50px;
  margin: 3px;
  cursor: default;
  text-align: left;
}

.readyMessage:hover > .trash {
  opacity: 1;
}

.trash {
  border: none;
  border-left: 2px solid rgb(90, 200, 250, 0.3);
  color: rgb(255, 59, 48, 0.8);
  position: absolute;
  background: none;
  padding: 7px 0 7px 8px;
  right: 7px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}
